# Assignment_02
Name: Manoj Boyapati

10 Integers

In [1]:
list = []
print("Please enter 10 integers")

for num in range(10):
    list_num = int(input("Enter a number:"))
    list.append(list_num)
print(list)

Please enter 10 integers
Enter a number:1
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
Enter a number:7
Enter a number:8
Enter a number:9
Enter a number:11
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

Minimum

In [2]:

min = list[0]
for i in range(len(list)):
    if list[i] < min:
        min = list[i]
print("Minimum:", min)

Minimum: 1

Maximum

In [3]:

max = list[0]
for i in range(len(list)):
    if list[i] > max:
        max = list[i]
print("Maximum:", max)

Maximum: 11

Mean

In [4]:

Sum = 0
for i in list:
    Sum = Sum+i
mean = Sum/len(list)
print("Mean:", mean)

Mean: 5.6

Varience

In [5]:
deviations = [(x - mean) ** 2 for x in list]
print(deviations)
varience = sum(deviations)/len(list)
print("Varience:", varience)

[21.159999999999997, 12.959999999999997, 6.759999999999998, 2.5599999999999987, 0.3599999999999996, 0.16000000000000028, 1.960000000000001, 5.760000000000002, 11.560000000000002, 29.160000000000004]
Varience: 9.24

Standard Deviation

In [6]:
Stdv = varience ** 0.5
print("Standard Deviation:", Stdv)

Standard Deviation: 3.0397368307141326